.card {
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: auto;
  margin: 20px auto;
  text-align: center;
  position: relative;
  top: 50px;
  color: #fff;
  overflow: visible;
}

.card-title {
  font-size: 24px;

  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;

  margin-bottom: 20px;
}

.card-button {
  background-color: #ffcc00;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.card-button:hover {
  background-color: #e6b800;
}
