.data-table {
  margin-top: 10px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #333;
  border-radius: 5px;
  overflow: hidden;
  font-size: 13px;
}

thead {
  background-color: #d1b442;
  color: #fff;
}

th,
td {
  padding: 10px;
  text-align: center;
  min-width: 40px;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f8e8aa;
}

.table-row {
  transition: background-color 0.5s, color 0.5s;
  align-items: center;
  justify-content: center;
}

.table-row:hover {
  background-color: #d1b442;
  color: #fff;
}

.action-buttons {
  display: flex;
  justify-content: center;
  border-style: none;
  gap: 0px;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  transition: transform 0.3s ease in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transform: scale(1.1);
  color: #f5d863;
}

.btn.view {
  color: #007bff;
}

.btn.edit {
  color: #ffc107;
}

.btn.hours {
  color: #28a745;
}

.btn.delete {
  color: #dc3545;
  border: none !important;
  background: none !important;
  cursor: pointer;
  font-size: 18px !important;
  padding: 5px !important;
  transition: transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
}
.btn.toggle {
  color: #272829;
  font-size: 20px;
  border-style: none;
}

.btn.list {
  color: #272829;
}

/* Estilos responsivos para la tabla */
@media (max-width: 768px) {
  .data-table {
    font-size: 10px;
    overflow-x: auto; /* Permitir desplazamiento horizontal */
  }

  th,
  td {
    padding: 8px 4px;
    min-width: 40px;
  }

  .action-buttons {
    flex-direction: row;
    gap: 2px;
  }
}

@media (max-width: 480px) {
  .data-table {
    font-size: 12px;
  }

  th,
  td {
    padding: 5px;
    min-width: 80px; /* Reducir el ancho mínimo de las celdas */
  }

  .btn {
    font-size: 12px;
    padding: 3px;
  }
}
