/* Superposición para el fondo difuminado */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  z-index: 999;
}

/* Estilos del modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  max-width: 400px;
  max-height: 600px;
  z-index: 1000;

  isolation: isolate;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  height: 50px;
  width: 50px;
  padding: 1px;
}

#close-button:hover {
  background-color: brown;
}

/* Estilos generales del modal */
.modal {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  max-width: none;
  max-height: none;
}

.modal button {
  padding: 10px 20px;
  margin: 5px 10px;

  border-radius: 4px;

  font-size: 1.3rem;
  color: #fff;
  background-color: #d1b442;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 300px;
}

.modal button:hover {
  background-color: #333333;
  transform: scale(1.03);
  transition: transform 0.3s ease;
  color: #fff;
}

.modal ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.modal ul li {
  padding: 0.5rem;
  background-color: #e9ecef;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

/* Animación para el modal */
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
}

.modal {
  animation: modalFadeIn 0.2s ease-out;
}

.modal.closing {
  animation: modalFadeOut 0.2s ease-in;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
}

/* Centrar el título del modal */
.modal-content h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Estilo para los labels y campos de entrada */
.modal-content form div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.modal-content form div label {
  flex: 1;
  text-align: left;
  font-weight: bold;
}

.modal-content form div input,
.modal-content form div select {
  flex: 3;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Ajustar las acciones del modal */
.modal-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.modal form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.filter-group {
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.filter-group select {
  margin: 5px;
  padding: 10px;
  background-color: #fff;
  color: #333;
  border: none;
  gap: 25px;
  font-size: 1rem;
}
