.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 10px;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #d1b442;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 15px;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;

  padding: 5px 20px;
}

.navbar-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
  cursor: pointer;
  transition: background-color 0.3s;
  box-shadow: #333;
}

.navbar-links a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: color 0.3s;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #d1b442;
  transition: color 0.3s;
}

.navbar-links li.active {
  background-color: #d1b442;
  padding: 30px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  height: 40px;
}

.navbar-links li.active a {
  color: #333;
}
