.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0;
  background-color: #333;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #d1b442;
  margin: 0 20px;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 100%;
  padding: 0;
}

.navbar-links li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  height: 100%;
  width: 100%;
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: #333;
}

.navbar-links li:hover {
  background-color: #444;
}

.navbar-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Coincidir con el ancho del li */
  height: 100%; /* Coincidir con la altura del li */
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  transition: 0.5s ease;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #d1b442;
}

.navbar-links li.active {
  background-color: #d1b442;
  padding: 30px 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  height: 40px;
}

.navbar-links li.active a {
  color: #333;
}

/* Estilos para el botón de menú */
.navbar-toggle {
  z-index: 101;
  position: absolute;
  right: 25px;
  margin-top: 30px;
  transform: translateY(-90%);
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: none; /* Oculto por defecto */
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  background-color: #333;
}

/* Estilos para la lista desplegable */

/* Ajustar animación suave para el menú desplegable */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    height: auto;
  }

  .navbar-toggle {
    display: flex; /* Visible solo en móviles */
  }

  .navbar-links {
    display: flex; /* Cambiar a flex para permitir transiciones */
    flex-direction: column;
    width: 100%;
    background-color: #333;
    padding: 0;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .navbar-links.show {
    max-height: 400px; /* Altura máxima para el menú desplegable */
    opacity: 1;
    overflow: visible;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 55px;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out;
  }

  .navbar-links li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    height: 700px;
    width: 100%;
    cursor: pointer;
    transition: 0.5s ease;
  }

  .navbar-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    transition: 0.5s ease;
    font-weight: bold;
    margin: 30px 0;
    background-color: #333;
  }

  .navbar-links a:hover {
    background-color: #444;
  }

  .navbar-links li.active {
    background-color: #d1b442;
    padding: 0;
    box-shadow: 0;
    height: 100%;
    width: 100%;
    color: #fff;
  }
  .navbar-links li.active a {
    color: #fff;
    background-color: #d1b442;
    height: 100%;
    width: 100%;
    margin: 30px 0;
  }
}
