.btn.toggle {
  position: relative;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.toggle.active {
  background-color: #4caf50; /* Verde */
  border: none;
}

.btn.toggle.inactive {
  background-color: #f44336; /* Rojo */
  border: none;
}

.switch-circle {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.btn.toggle.active .switch-circle {
  transform: translateX(25px);
}

.btn.toggle.inactive .switch-circle {
  transform: translateX(0);
}
